body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-image: url("./images/table.png");
    background-size: cover;
    text-align: center;
    color: white;
    font-weight: bold;
}

h1 {
    color: #daa520;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 150px;
    background-color: #daa520;
    padding: 0.375em 0;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin: 0.125em 0;
}

button:hover {
    background-color: hsl(43, 74%, 44%);
    cursor: pointer;
}